<head>
  <link
    href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap"
    rel="stylesheet"
  />
</head>
<section class="container-fluid" style="background-color: #17141d">
  <h2
    class="text-center"
    style="font-family: 'DM Mono', monospace; padding: 20px"
  >
    EXPERENCE
  </h2>

  <div class="ex-body container-fluid">
    <div class="skill-card-list">
      <div
        class="col-12 col-sm-12 col-lg-12 col-xl-12 card"
        style="width: 100%"
      >
        <div class="d-flex initial-container">
          <div class="company-img">
            <img
              class="prodian"
              src="../../../assets/images/prodian.jpg"
              alt=""
            />
          </div>
          <h2
            style="
              font-family: 'DM Mono', monospace;
              text-align: center;
              color: #e6e6fa;
              font-size: 20px !important;
              padding: 20px;
            "
          >
            Prodian Infotech Private Limited - Chennai,India Aug 2021 - Present
          </h2>
        </div>
        <div class="role text-center">
          <h3 class="role-text" style="font-style: italic; font-size: 18px">
            Junior Front-end Developer
            <span></span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
